html,
body {
    font-size: 85%;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

table {
    width: 100%;
}
table tr:nth-of-type(even) {
    background-color: #efefef;
}
table tr.highlight {
    background: #008CBA;
    color: #fff;
}
tr.highlight th,
tr.highlight td,
tr.highlight th a,
tr.highlight td a {
    color: #fff;
}
th.max-width,
td.max-width {
    width: 1%;
    white-space: nowrap;
}
